.page {
    background: linear-gradient(90deg, rgba(148, 2, 2, 0.50) 0%, rgba(2, 36, 158, 0.50) 100%);
}

.timer {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.section {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.focus-time {
    width: 360px;
    height: 800px;
    background-color: #BA4949;
    border-radius: 32px;
}

.short-break {
    background-color: #38858A;  
}

.long-break {
    background-color: #397097;
}

.minutes {
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.separator {
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.seconds {
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.button {
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #FFF;
    width: 73px;
    height: 32px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background: transparent;
}

.button-low {
    font-size: 10px;
}

.button-m {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.popup-settings {
    opacity: 0;
    visibility: hidden;
}

.popup_opened {
    opacity: 1;
    visibility: visible;
}